// Footer
footer
  .footer
    .float-start
      p 2022 &copy; Allen
    .float-end
      p
        | Crafted with
        span.text-danger
          i.fa.fa-heart
          |  by
          a.author-footer(href='https://www.facebook.com/andreew.co.id/') Andre Tri Ramadana
