// Topbar
.topbar.transition
  .bars
    button#sidebar-toggle.btn.transition(type='button')
      i.fa.fa-bars
  .menu
    ul
      li.nav-item.dropdown.dropdown-list-toggle
        a#navbarDropdown.nav-link(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
          i.fa.fa-bell.size-icon-1
          span.badge.bg-danger.notif 4
        .dropdown-menu.dropdown-list
          .dropdown-header Notifications
          .dropdown-list-content.dropdown-list-icons
            .custome-list-notif
              a.dropdown-item.dropdown-item-unread(href='#')
                .dropdown-item-icon.bg-primary.text-white
                  i.fas.fa-code
                .dropdown-item-desc
                  | The Allen template has the latest update!
                  .time.text-primary 3 Min Ago
              a.dropdown-item(href='#')
                .dropdown-item-icon.bg-info.text-white
                  i.far.fa-user
                .dropdown-item-desc
                  | Sri asks you for friendship!
                  .time 12 Hours Ago
              a.dropdown-item(href='#')
                .dropdown-item-icon.bg-danger.text-white
                  i.fas.fa-check
                .dropdown-item-desc
                  | Storage has been cleared, now you can get back to work!
                  .time 20 Hours Ago
              a.dropdown-item(href='#')
                .dropdown-item-icon.bg-info.text-white
                  i.fas.fa-bell
                .dropdown-item-desc
                  | Welcome to Allen Template, I hope you enjoy using this template!
                  .time Yesterday
          .dropdown-footer.text-center
            a(href='#') View All
      li.nav-item.dropdown
        a#navbarDropdown.nav-link(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
          img(src='/images/avatar/avatar-1.png' alt='')
        ul.dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='my-profile.html')
            i.fa.fa-user.size-icon-1
            span
              | My
              | Profile
          a.dropdown-item(href='settings.html')
            i.fa.fa-cog.size-icon-1
            span Settings
          hr.dropdown-divider
          a.logout.dropdown-item(href='#')
            i.fa.fa-sign-out-alt.size-icon-1
            span
              | Logout
