extends base

block content
 // Content Start
 .content-start.transition
  .container-fluid.dashboard
    .content-header
      h1 Assignment Record
      p

    
    .row
      .col-md-4
        .card
          .card-body(style="background-color:rgba(0, 0, 0, 0.001) ")
            select.assignmentRangeSelect.form-select(aria-label='Default select example')
              option(selected='') RangeBy
              option(value='1') createdAt
              option(value='2') -createdAt
      .col-md-4
        .card
          .card-body(style="background-color:rgba(0, 0, 0, 0.001) ")
            select.assignmentFilterSelect.form-select(aria-label='Default select example')
              option(selected='') FilterBy
              option(value='1') status
              option(value='2') agv
      .col-md-4
        .card
          .card-body(style="background-color:rgba(0, 0, 0, 0.001) ")
            input.assignmentFilterWord.form-control(placeholder='Filt Word')
      .col-md-4
        .card
          .card-body(style="background-color:rgba(0, 0, 0, 0.001) ")
            input.assignmentTaskWord.form-control(placeholder='TaskID')            
      .col-md-3
        .card
          .card-body(style="background-color:rgba(0, 0, 0, 0.001) ")
            button.assignmentSearchBtn.btn.btn-info.btn-block Search
            
      .col-md-10.mx-auto
        .card
          .card-body

            table.table(style="word-wrap: break-word  max-width: none; table-layout: fixed;")
              thead
                tr
                  th(scope='col') #
                  th(scope='col') taskID
                  th(scope='col') From
                  th(scope='col') To
                  th(scope='col') AgvId
                  th(scope='col') Created At 
                  th(scope='col') Status
              tbody.assignmentHistorytable
                //- tr
                //-   th(scope='row') 3
                //-   td Larry
                //-   td the Bird
                //-   td @twitter

            nav(aria-label='Page navigation example')
              ul.assignmentPagination.pagination
                //- li.page-item
                //-   a.page-link(href='#') 1


