doctype html
head
    block head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Dashboard - Allen
        // Bootstrap CSS
        link(rel='stylesheet' href='/modules/bootstrap-5.1.3/css/bootstrap.css')
        // Style CSS
        link(rel='stylesheet' href='/css/style.css')
        // FontAwesome CSS
        link(rel='stylesheet' href='/modules/fontawesome6.1.1/css/all.css')
        // Boxicons CSS
        link(rel='stylesheet' href='/modules/boxicons/css/boxicons.min.css')
        // Apexcharts  CSS
        link(rel='stylesheet' href='/modules/apexcharts/apexcharts.css')
        // Apexcharts  CSS
        //- link(rel='stylesheet' href='/modules/charts/Chart.min.css') 

body
    //- HEADER
    include _header

    //- SIDEBAR
    include _sidebar

    //- CONTENT
    block content

    //- FOOTER
    include _footer

// Preloader
.loader
  .spinner-border.text-light(role='status')
    span.sr-only Loading...
// Loader
.loader-overlay

// Game JS Scripts
script(type="module" src='/js/game/game.js')
script(type="module" src='/js/game/snake.js')
// General JS Scripts
script(src='/js/atrana.js')
// JS Libraies
script(src='/modules/jquery/jquery.min.js')
script(src='/modules/bootstrap-5.1.3/js/bootstrap.bundle.min.js')
script(src='/modules/popper/popper.min.js')
// Chart Js
script(src='/modules/apexcharts/apexcharts.js')
script(src='/js/ui-apexcharts.js')
// Template JS File
script(src='/js/script.js')
script(src='/js/custom.js')
//socket.io
script(src='/socket.io/socket.io.js')
script(src='https://unpkg.com/mqtt/dist/mqtt.min.js')
//axios
script(src='/js/bundle.js')

