extends base

block content 
  .content-start.transition
    .container-fluid.dashboard
      .content-header
        h1 Task Control
        p
          | Input start Section and End Block - it will automatically find empty section!
      // Basic Dropdown End
      .row
        .col-10.mx-auto
          .card
            .card-header
              h4.card-title Create Task
            .card-content
              .card-body
                label Section Start  
                .btn-group.mb-1
                  .dropdown
                    button#dropdownMenuButton.startFloorBtn.btn.btn-primary.dropdown-toggle.me-1(type='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      | Floor
                    .dropdown-menu(aria-labelledby='dropdownMenuButton')
                      a.startFloor.dropdown-item(href='#') Floor 1
                      a.startFloor.dropdown-item(href='#') Floor 2
                .btn-group.mb-1
                  .dropdown
                    button#dropdownMenuButtonSec.startBlockBtn.btn.btn-secondary.dropdown-toggle.me-1(type='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      | Block
                    .dropdown-menu.startBlockList(aria-labelledby='dropdownMenuButtonSec')
                .btn-group.mb-1
                  .dropdown
                    button#dropdownMenuButton3.startSectionBtn.btn.btn-info.dropdown-toggle.me-1(type='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      | Section
                    .dropdown-menu.startSectionList(aria-labelledby='dropdownMenuButton3')
                br

                label Section End &nbsp
                .btn-group.mb-1
                  .dropdown
                    button.endFloorBtn.btn.btn-primary.dropdown-toggle.me-1(type='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      | Floor
                    .dropdown-menu(aria-labelledby='dropdownMenuButton')
                      a.endFloor.dropdown-item(href='#') Floor 1
                      a.endFloor.dropdown-item(href='#') Floor 2
                .btn-group.mb-1
                  .dropdown
                    button.endBlockBtn.btn.btn-secondary.dropdown-toggle.me-1(type='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      | Block
                    .dropdown-menu.endBlockList(aria-labelledby='dropdownMenuButtonSec')
                .btn-group.mb-1
                  .dropdown
                    button.endSectionBtn.btn.btn-info.dropdown-toggle.me-1(type='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      | Section
                    .dropdown-menu.endSectionList(aria-labelledby='dropdownMenuButton3')
                br

                label Type Of Task
                .btn-group.mb-1
                  .dropdown
                    button.typeOfTaskBtn.btn.btn-danger.dropdown-toggle.me-1(type='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      | Type
                    .dropdown-menu(aria-labelledby='dropdownMenuButton4')
                      a.typeOfTask.dropdown-item(href='#') Normal
                      a.typeOfTask.dropdown-item(href='#') Privilige
                      a.typeOfTask.dropdown-item(href='#') Buffer
            .card-footer.text-right
              button.taskBtn.btn.btn-primary Submit
