extends base

block content 
  .content-start.transition
    .container-fluid.dashboard
      .content-header
        h1 Task Control
        p
          | Input start Section and End Block - it will automatically find empty section!
      // Basic Dropdown End
      .row
        .col-12.col-md-6.col-lg-6
          .card
            form
              .card-header
                h4 Task input
              .card-content
              .card-body
                .mb-3
                  label Section Start
                  .btn-group.mb-1
                    .dropdown
                      button#dropdownMenuButton7.btn.btn-dark.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-haspopup='true'   aria-expanded='false')
                        | Dark
                      .dropdown-menu(aria-labelledby='dropdownMenuButton7')
                        a.dropdown-item(href='#') Option 1
                        a.dropdown-item(href='#') Option 2
                        a.dropdown-item(href='#') Option 3
                .mb-3
                  label Block End
                  .btn-group.mb-1
                    .dropdown
                      button#dropdownMenuButton7.btn.btn-dark.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-haspopup='true'   aria-expanded='false')
                        | Dark
                      .dropdown-menu(aria-labelledby='dropdownMenuButton7')
                        a.dropdown-item(href='#') Option 1
                        a.dropdown-item(href='#') Option 2
                        a.dropdown-item(href='#') Option 3
                .mb-3
                  label Assignment Type
                  .btn-group.mb-1
                    .dropdown
                      button#dropdownMenuButton7.btn.btn-dark.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-haspopup='true'   aria-expanded='false')
                        | Dark
                      .dropdown-menu(aria-labelledby='dropdownMenuButton7')
                        a.dropdown-item(href='#') Option 1
                        a.dropdown-item(href='#') Option 2
                        a.dropdown-item(href='#') Option 3
                .mb-3
                  label Subject
                  input.form-control(type='email')
                .form-group.mb-0
                  label Message
                  textarea.form-control(required='')
              .card-footer.text-right
                button.btn.btn-primary Submit
        .col-12.col-md-6.col-lg-6
          .card
            form
              .card-header
                h4 Task and Block status - Monitor
              .card-body-map
                 #game-board
              .card-body
                .mb-3
                  label Your Name
                  input.form-control.is-valid(type='text' value='Andreews' required='')
                  .valid-feedback
                    | Good job!
                .mb-3
                  label Email
                  input.form-control.is-invalid(type='email' required='' value='andre@atrana')
                  .invalid-feedback
                    | Oh no! Email is invalid.
                .mb-3
                  label Subject
                  input.form-control(type='email')
                .form-group.mb-0
                  label Message
                  textarea.form-control.is-invalid(required='') Hello!
                  .invalid-feedback
                    | Oh no! You entered an inappropriate word.
              .card-footer.text-right
  